[nodejs]
disabled = true
[c]
disabled = true
[rust]
disabled = true
[golang]
disabled = true
[php]
disabled = true
[java]
disabled = true
[kotlin]
disabled = true
[haskell]
disabled = true
[python]
disabled = true
[docker_context]
disabled = true
[conda]
disabled = true
[os]
disabled = true

